#nav {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.767);     
  }
  li a {  
    color:white;
    text-align:center;
    padding: 15px 17px;
    display:block;
    text-decoration: none; 
    
  }
  li a:hover{
    background-color: black;
  }
  
  li { 
      font-size:28px;
    margin-top:0px; 
    margin-bottom: 0px;
        float:right;  
    font-family:lucida console;
    text-shadow: 3px 2px black; 
  }

  body {
    background: url("http://i36.photobucket.com/albums/e28/folayanc/Portfolio%202%20Project/orginal%20lady%20in%20phone_zpsyhxksjoc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    background-attachment: fixed;
}
  .page-header{
    border-style:solid;
    border-color: red; border-left-color: green;
    border-radius: 10px;
    border-width: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(126, 84, 30)  

  }
  .gallery-header{
padding-top: 20px;
padding-bottom: 85px;
  }
  footer{
    border-style:solid;
    border-color: red; border-left-color: green; border-top-color:white;
    border-radius: 10px;
    border-width: 2px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(126, 84, 30)    
      }
 
  
  